
/VEX/NearestDistance/backup
/VEX/Intersection/backup
/VEX/Projection/backup
/Tutorials/02_Primuv_deformation_by_curve/backup
/Tutorials/07_Rigid_to_FBX/backup
/Tutorials/08_Deformation_to_FBX/backup
/Tutorials/09_UVTransfer/backup
/Tutorials/12_Guided_Remesh/backup
/Tutorials/09_PieceIteration/backup
/Tutorials
*.hip
*.hda
/VEX/backup
/Examples/backup
